@font-face {
  font-family: Kanit;
  src: url(../../fonts/Kanit-Regular.ttf);
}
@font-face {
  font-family: FredokaOne-Regular;
  src: url(../../fonts/FredokaOne-Regular.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Comfortaa-Regular;
  src: url(../../fonts/Comfortaa-Regular.ttf);
}
