// Colors
$clrWhite: hsl(0, 0%, 100%);
$clrLightgreen: hsl(164, 100%, 50%);
$clrOrange: hsl(32, 100%, 49%);
$clrGold: hsl(43, 100%, 51%);
$clrGoldalpha: hsl(27, 87%, 67%);
$clrYellowlight: hsl(42, 100%, 70%);
$clrRedish: hsl(346, 84%, 61%);
$clrBluesoft: hsl(185, 100%, 50%);
$clrBlack: hsl(0, 0%, 12%);
$clrBlackExtra: hsl(0, 0%, 11%);
$clrBlackTrans: hsla(0, 0%, 0%, 0.384);

//Default background color
$bgrclr1: hsl(0, 0%, 12%);

//Buttons

$primary: hsl(207, 100%, 50%);
$primaryHover: hsl(224, 100%, 50%);

$danger: hsl(0, 100%, 67%);
$dangerHover: hsl(0, 100%, 61%);

// Breakpoints
$mobile-breakpoint: 475px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
