* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins-Regular;
  color: $clrBlack;
}

body {
  overflow: hidden;
  background: $clrWhite;
  background-size: cover;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: Kanit;
  text-transform: capitalize;
  font-family: Poppins-Regular;
}

li {
  list-style: none;
  font-family: Poppins-Regular;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  background-color: $primary;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(16px);
  font-weight: 600;
  color: $clrWhite;
  cursor: pointer;

  &:hover {
    background-color: $primaryHover;
    transition: 0.4s;
  }
}

input {
  background-color: transparent;
  border: 1px solid $clrGold;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  color: $clrWhite;
  font-weight: 400;
  font-size: rem(18px);

  &:focus {
    outline: none !important;
    border: 2px solid $clrGold;
  }
  ///* Chrome, Firefox, Opera, Safari 10.1+ */
  &::placeholder {
    color: $clrGoldalpha;
    opacity: 1;
  }

  /* Internet Explorer 10-11 */
  &:-ms-input-placeholder {
    color: $clrGoldalpha;
  }

  /* Microsoft Edge */
  ::-ms-input-placeholder {
    color: $clrGoldalpha;
  }

  &:hover {
    border: 2px solid $clrGold;
    transition: 0.2s;
  }
}

// .svg {
//     fill: $clr3;
//     width: 20px;
//     pointer-events: none;

//     &:hover {
//         fill: $clr6;
//     }
// }

.scroller {
  &::-webkit-scrollbar {
    width: 8px;

    @include for-mobile-layout {
      width: 0;
    }
  }
  &::-webkit-scrollbar-track {
    margin-bottom: 14px;
    background-color: $clrGold;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $clrRedish;
  }
}
